@import "tailwindcss";
@import "tw-animate-css";
@import "./design-token.css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  /* Base */
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  /* Navbar */
  --color-navbar: var(--navbar-background);
  --color-navbar-border: var(--navbar-border);
  --color-navbar-foreground: var(--navbar-foreground);
  --color-navbar-input: var(--navbar-input-background);
  --color-navbar-input-border: var(--navbar-input-border);
  --color-navbar-input-placeholder: var(--navbar-input-placeholder);

  /* Icon */
  --color-icon: var(--icon);
  --color-icon-hover: var(--icon-hover);

  /* Brand */
  --color-primary: var(--primary);
  --color-primary-hover: var(--primary-hover);
  --color-primary-background: var(--primary-background);
  --color-primary-border: var(--primary-border);
  --color-primary-foreground: var(--primary-foreground);

  /* States */
  --color-info: var(--info);
  --color-warning: var(--warning);
  --color-error: var(--error);
  --color-success: var(--success);
  --color-destructive: var(--destructive);

  /* Card / App */
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-app-background: var(--app-background);
  
  /* Muted / Accent / Secondary */
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);

  /* Greys */
  --color-grey-50: var(--grey-50);
  --color-grey-100: var(--grey-100);
  --color-grey-200: var(--grey-200);
  --color-grey-300: var(--grey-300);
  --color-grey-400: var(--grey-400);
  --color-grey-500: var(--grey-500);
  --color-grey-600: var(--grey-600);
  --color-grey-700: var(--grey-700);
  --color-grey-800: var(--grey-800);
  --color-grey-900: var(--grey-900);

  /* Borders / Inputs */
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-app-background text-foreground;
  }
}

@layer utilities {
  .grid-cols-53 {
    grid-template-columns: repeat(53, minmax(0, 1fr));
  }
  
  @media (max-width: 768px) {
    .grid-cols-53 {
      grid-template-columns: repeat(26, minmax(0, 1fr));
    }
  }
}
